body {

    margin: 0;

    background: #050510;

    display: flex;

    justify-content: center;

    align-items: center;

    min-height: 100vh;

    font-family: Arial, sans-serif;

}


canvas {

    background: #080818;

    border: 2px solid white;

    display: block;

}

#cardScreen {

    display: none;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background: #111;

    padding: 30px;

    border: 2px solid white;

    color: white;

    text-align: center;
}


#cards {

    display: flex;

    gap: 20px;

}


.card {

    width: 180px;

    min-height: 220px;

    background: #222;

    border: 2px solid white;

    padding: 20px;

    cursor: pointer;

    transition: 0.2s;

}


.card:hover {

    transform: translateY(-10px);

    background: #333;

}
